.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  min-height: 95vh;
}
.hero-text h1{
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Bricolage Grotesque", sans-serif;  
  margin-bottom: 13px;
}
.hero-text p{
  font-size: .95rem;
  margin-bottom: 10px;
  font-style: italic;
}
.contact-btn{
  padding: 10px 20px;
  background: var(--main-theme-3);
  border: none;
  color: white;
  margin-bottom: 8px;
}
.hero-text .contact-text{
  font-size: 1.05rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 30px;
}

.about-img img {
  width: 300px;
  height: auto; 
}
.about-text h2{
  font-size: 2.3rem;
  margin-bottom: 5px;
}
.about-text p{
  font-weight: 400;
  margin-bottom: 15px;
  font-size: .95rem;
  font-style: italic;
}
.about-text .text-max{
  width: 80%;
}











/*

}
main{

}

.outer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.inner-container-1{
      font-family: 'Ubuntu', sans-serif;
      width: 40%;
}
.inner-container-1-h1{
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}
.inner-container-1-text{
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  padding: 10px;
  
}
.contact-us-btn{
  font-family: 'Ubuntu', sans-serif;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  justify-content: center;
  margin-top: 20px;
  margin-left: 10px;

}
.inner-container-text{

}
.inner-container-2{

}
.inner-container-2-img{

} */

/* who-are-we section  */
/* .who-are-we-contaner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.inner-who-are-we-container-1{
    padding: 30px;
}
.who-are-we-container-h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
    
}
.who-are-we-container-paragraph{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 17px;
    width: 40%;
    word-wrap: break-word;
    word-break: break-all;
 
}

.aboutus-btn{
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
 
}
  .aboutus-btn:hover {
    background-color: #0056b3;
  }
  
  .aboutus-btn:focus {
    background-color: #0069d9;
  }
.inner-who-are-we-container-2{

}
.who-are-we-contaner-img{
    
} */

/* Begiinng of the our product section */
/* .our-products{
  
}
.product-grid-container{
  display: grid;
  grid-template-columns:auto auto;
  grid-template-rows: auto;
  gap: 80px;
}
.our-products-h1{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  
}
.inner-products-containers{
    grid-column: auto;
    grid-row: auto;
    width: 350px;
    height: 170px;
    border: solid 2px black;
    border-radius: 10px;
    margin-top: 35px;
    justify-content: center
   
}
.inner-products-containers .product-image {
    width: 350px;
    height: 110px;
    border-radius: 10px 10px 0px 0px;
    background-color: #ccc;
  }
  .inner-products-containers .text {
    width:350px;
    height: 60px; ;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    background-color: #eee;
  }
  .paragraph{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 16px;
    width: 100%;
    word-wrap: break-word;
   
  }
  .product-btn{
    font-family: 'Ubuntu', sans-serif;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    margin-top: 40px;
   
  } */