  main{
    padding: 2% 10% 3% ;
    margin: 0 auto;
    max-width: 1300px;
  }
  .team-main .header{
    padding-bottom: 10px;
  }
  .team-heading{
    position: relative;
    background-color: none;
    background-image: url('../img/team/heading.jpg');
    background-size: cover;
    background-position: center;
  
  }
  .team-heading .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white-1);
    padding: 10vh 3%  ;
  }
  .team-main .header{
    text-align: center;
  }
  .team{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 40px;
  }
  .team-card{
    height: 400px;
    display: flex;
    flex-direction: column;
  }
  .team-card .img img{
    height: 100%;
    width: 100%;
  }
  .team-card .img{
    height: 70%;
  }
  .team-card .text{
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .team-card .name{
    font-weight: 600;
    font-size: 1.3rem;
  }
  .team-card .title{
    color: var(--main-theme-4a);
  }
  @media screen and (max-width:1062px ) {
    main{
      padding: 2% 7% 3%;
    }
  }
  @media screen and (max-width:858px ) {
    main{
      padding: 2% 15% 3%;
    }
  }
  @media screen and (max-width: 700px){
    .team{
      gap: 25px;
    }
    .team-card .name{
      font-size: 1.1rem;
    } 
  }
  @media screen and (max-width:540px ) {
    main{
      padding: 2% 7% 3%;
    }
  }
  @media screen and (max-width: 450px){
    .team-card{
      height: 350px;
    }
    .team-card .name{
      font-size: 1rem;
    }
  }
  @media screen and (max-width:400px ) {
    main{
      padding: 2% 3% 3%;
    }
    .team{
      grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }
  }
  @media screen and (max-width:350px ) {
    .team{
      grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    }
  }
