main{
    padding: 2% 3% 3% ;
    margin: 0 auto;
    max-width: 1300px;
  }
  
  .team-heading{
    position: relative;
    background-color: none;
    background-image: url('../img/team/heading.jpg');
    background-size: cover;
    background-position: center;
  
  }
  .team-heading .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white-1);
    padding: 10vh 3%  ;
  }
  .team-main .header{
    text-align: center;
  }
  .team{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }
  .team-card{
    height: 400px;
  }
  .team-card .name{
    font-weight: 600;
    font-size: 1.2rem;
  }
  